// nextflow.config for use in DNA filtration + kinship pipeline

// Define parameters
params {

    // General parameters
    threads = 8
    memory = '10 GB'
    partition = 'standard'
    account = 'berglandlab'
    
    // Directories
    wd = "/project/berglandlab/connor/GeneFamilyEvolution"
    out = "/project/berglandlab/connor/GeneFamilyEvolution/output"
    scripts_dir = "/project/berglandlab/connor/GeneFamilyEvolution/scripts"
    OF_dir = "/home/csm6hg/phd_software/OrthoFinder_source/tools"
    protein_list = "/project/berglandlab/connor/GeneFamilyEvolution/list.proteins"
    ids_file = '/project/berglandlab/connor/GeneFamilyEvolution/genome_ids.txt' // Path to the file containing RefSeq IDs

}

// Define profiles for slurm execution environment
profiles {
    slurm {
        process {
            executor = 'slurm' // Use SLURM as the executor
            clusterOptions = "--partition=${params.partition} \
            --account=${params.account}" // SLURM partition, account
            cpus = "${params.threads}" // Number of threads per job
            memory = "${params.memory}" // Memory per job
            errorStrategy = 'finish'
        }
    }
}

// Define default process settings
process {
    // Set default resource allocations
    cpus = "${params.threads}"
    memory = "${params.memory}"
    errorStrategy = 'finish'
}

// Diagram configuration
dag {
    enabled = true
    file = 'flowchart.png'
    format = 'png'
}

// Report configuration
report {
    enabled = true
    file = 'report.html'
}

// Overwrite existing DAG and report files
dag.overwrite = true
report.overwrite = true
